@import "../../variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  background-color: var(--modal-background-color);
  transition: background-color 0.3s;

  @media (max-width: $mobile-breakpoint) {
    max-width: 400px;
  }

  h2 {
    width: 100%;
    border-bottom: 1px dashed var(--character-card-border-color);
    padding-bottom: 16px;
    color: var(--star-wars-color);
  }

  .character-info {
    justify-self: center;
    width: 50%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-breakpoint) {
      width: 60%;
    }
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}
