.character-list {
  padding: 20px 20px 20px 20px;
  margin-top: 16px;
  position: relative;
  height: calc(100% - 160px);
  overflow: auto;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    @media (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 20px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
